<div class="section modal-example" id="modal">
  <div class="container">
    <h2 class="title"><span class="gradient">Multiple Modal</span></h2>

    <ul class="modal-example-list">
      <li class="modal-example-item">
        <button class="modal-example-btn" type="button" data-open-modal="1">
          Open modal 1
        </button>
      </li>
      <li class="modal-example-item">
        <button class="modal-example-btn" type="button" data-open-modal="2">
          Open modal 2
        </button>
      </li>
    </ul>
  </div>
</div>
