<div class="section modal-example" id="modal">
  <div class="container">
    <h2 class="title"><span class="gradient">Multiple Modal</span></h2>

    <ul class="actions">
      <li class="action">
        <a
          class="link"
          href="https://swiperjs.com/get-started"
          target="_blank"
          rel="noopener noreferrer"
          >Get Started</a
        >
      </li>
      <li class="action">
        <a
          class="link"
          href="https://github.com/nolimits4web/swiper"
          target="_blank"
          rel="noopener noreferrer"
          >View on GitHub</a
        >
      </li>
      <li class="action">
        <a
          class="link"
          href="https://github.com/vitejs/vite"
          target="_blank"
          rel="noopener noreferrer"
          >Video Guide</a
        >
      </li>
    </ul>

    <ul class="modal-example-list">
      <li class="modal-example-item">
        <button class="modal-example-btn" type="button" data-open-modal="1">
          Open modal 1
        </button>
      </li>
      <li class="modal-example-item">
        <button class="modal-example-btn" type="button" data-open-modal="2">
          Open modal 2
        </button>
      </li>
    </ul>
  </div>
</div>
