<div class="section plugin" id="modal">
  <div class="container">
    <h2 class="title">
      <span class="gradient">Plugin Check Path Exists</span>
    </h2>

    <p class="tagline">
      Plugin for Vite bundler that detects the presence of files and folders
      referenced by HTML code. If the file or folder does not exist, the
      application displays a warning about the missing file or folder.
    </p>

    <ul class="actions">
      <li class="action">
        <a
          class="link"
          href="https://www.npmjs.com/package/vite-check-path-exists"
          target="_blank"
          rel="noopener noreferrer"
          >Get Started</a
        >
      </li>

      <li class="action">
        <a
          class="link"
          href="https://github.com/vitejs/vite"
          target="_blank"
          rel="noopener noreferrer"
          >Video Guide</a
        >
      </li>
    </ul>
  </div>
</div>
