<section class="section">
  <div class="container">
    <ul class="slick-slider">
      <li>
        <h3>Slide 1</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </li>
      <li>
        <h3>Slide 2</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </li>
      <li>
        <h3>Slide 3</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </li>
      <li>
        <h3>Slide 4</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </li>
      <li>
        <h3>Slide 5</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </li>
      <li>
        <h3>Slide 6</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </li>
      <li>
        <h3>Slide 7</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </li>
      <li>
        <h3>Slide 8</h3>
        <p>lorem5</p>
      </li>
    </ul>
  </div>
</section>
